# IntelliJ project files
.idea
*.iml
out
generalsettings.json

*.class

*.jar
*.war
*.ear
ProtocolMessages.java
OutgoingMessages.java
generalsettings.json

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle template
.gradle
build/


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

/src/main/grpc/com/myjetwallet/messages/incoming/socket/OrderCancelServiceGrpc.java
/src/main/grpc/com/myjetwallet/messages/incoming/grpc/TradingServiceGrpc.java
/src/main/grpc/com/myjetwallet/messages/incoming/grpc/CashServiceGrpc.java
/src/main/grpc/com/matching/engine/database/grpc/AssetsGrpc.java
/src/main/grpc/com/matching/engine/database/grpc/AssetPairsGrpc.java
/src/main/java/com/matching/engine/database/grpc/GrpcDictionaries.java
/src/main/java/com/myjetwallet/messages/incoming/grpc/GrpcIncomingApi.java
/src/main/java/com/myjetwallet/messages/incoming/grpc/GrpcIncomingMessages.java
/src/main/java/com/myjetwallet/messages/incoming/socket/SocketIncomingApi.java
/src/main/java/com/myjetwallet/messages/incoming/socket/SocketIncomingMessages.java
/src/main/grpc/com/myjetwallet/messages/incoming/grpc/BalancesServiceGrpc.java
/src/main/java/com/matching/engine/database/grpc/BalancesMessages.java
/src/main/java/com/myjetwallet/messages/orderbooks/grpc/OrderBooksMessages.java
/src/main/grpc/com/myjetwallet/messages/incoming/grpc/OrderBooksServiceGrpc.java
/src/main/grpc/com/myjetwallet/messages/outgoing/grpc/GrpcOutgoingEventsServiceGrpc.java
